@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&family=Sofia+Sans+Extra+Condensed:wght@400;700&display=swap');
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ded5f4; 
    font-family: 'Sofia Sans', sans-serif;
    color: #3a2e73;
    scroll-behavior: smooth;
    text-align: center;
}

.bg {
    background: url('images/front-page.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.top-right-buttons {
    position: fixed;
    top: 10px;
    right: 10px; 
    text-align: right;
}

.top-right-buttons li {
    display: block;
    margin-bottom: 10px; 
}

.navigation {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation li {
    display: inline;
    margin: 0 10px;
}

.nav-button {
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #5a498f;
}

.image-slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 44px; 
    display: flex;
    justify-content: center;
}

.image-holder {
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

.image-holder img {
    display: none; 
    height: auto; 
    max-width: 22%; 
    border-radius: 30px; 
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.image-holder img.active {
    display: block; 
    filter: blur(2px); 
    transition: filter 0.3s ease; /

}
.slide-arrow {
    position: absolute;
    top: 30%; 
    cursor: pointer;
    font-size: 30px; 
    color: black; 
    background-color: #5a498f; 
    border: none;
    padding: 10px; 
    border-radius: 50%; 
}
.left-arrow {
    left: 35%; 
    transform: translateY(-50%);
}
.right-arrow {
    right: 35%; 
    transform: translateY(-50%);
}

.content-area {
    position: absolute;
    right: 3px; 
    bottom: 70px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 
}

.about-us-button {
    margin-bottom: 80px; 
 }
 
 .button-box:first-child {
    margin-bottom: 60px; 
 }


.button-box {
    margin: 1px 0;
}

.button {
    text-decoration: none;
    background-color: #917fc1; 
    border: 4px solid #ede9f8; 
    color: #3a2e73; 
    padding: 10px 25px; 
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.button:hover {
    background-color: #5a498f;
}

.button-container, .contacts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1000; 
}

.contacts-container {
    position: absolute;
    left: 10px;
    bottom: -6px;
    z-index: 1000; 
}

@media (max-width: 768px) {
    .image-slider {
        bottom: 20px; 
    }
    .image-holder img.active {
        width: 50%; 
    }
}





/* SECOND PAGE */
.ceiling-image {
    width: 100%;
    height: auto; 
    display: block;
    margin: 20px 0; 
}

.small-image {
    width: 100%; 
    height: auto; 
    margin-top: 20px; 
}
.info-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 8px; 
    padding: 10px;
    margin-top: 10px; 
    line-height: 1.6; 
    margin-bottom: 1em;
}
.info-box {
    flex-basis: 30%; 
    padding: 20px; 
    background-color: #ede9f8; 
    color: #917fc1; 
    border: 10px solid #3a2e73; 
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    font-family: 'Sofia Sans', sans-serif; 
    text-align: center; 
    transition: transform 0.3s ease; 
    line-height: 1.6;
    margin-bottom: 1em; 
}
.info-box:hover {
    transform: translateY(-5px); 
}
.info-box-button {
    background-color: #917fc1; 
    color: #3a2e73;
    border: 8px solid #ede9f8; 
    padding: 10px 1px; 
    margin-top: 90px; 
    display: inline-block; 
    text-align: center; 
    border-radius: 50px; 
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 25px;
    text-align: center; 
    transition: transform 0.3s ease; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    box-sizing: border-box;
    cursor: pointer;
    width: 100%; 
}

.info-box-button:hover {
    background-color: #5a498f; 
    color: #ffffcc; 
}

@media (max-width: 768px) {
    .info-box {
        flex-basis: 100%; 
    }
}



/* ALIGN ROW */
.info-content-wrapper {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    min-height: 90vh; 
    width: 95%;
    max-width: 1200px; 
    margin: auto; 
}

.side-image {
    width: 35%; 
    height: auto; 
    object-fit: cover; 
}

.info-boxes2 {
    width: 65%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.info-box2 {
    width: 100%; 
    box-sizing: border-box;
    padding: 20px;
    background-color: #ede9f8; 
    border: 8px solid #3a2e73 ; 
    margin-bottom: 20px; 
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 15px;
    text-align: left; 
    transition: transform 0.3s ease; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50px; 
    color: #3a2e73;
    
}
.button-area2 {
    width: 65%; 
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    margin: 10px -40px; 
    flex-basis: 30%;
    right: -500px;
    bottom: 100px; 
    gap: -100%; 

}
.info-box-button2 {
    background-color: #917fc1; 
    color: #3a2e73; 
    border: 8px solid #ede9f8; 
    padding: 10px 25px; 
    margin: 0; 
    display: block; 
    text-align: center; 
    border-radius: 50px; 
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    width: auto; 
    text-align: center; 
    border-radius: 50px; 
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 25px;
    text-align: relative; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: inline-flex;
    transition: all 0.3s ease;

}
.info-box-button2:hover {
    background-color: #5a498f; 
    color: #ffffcc; 

}
.outer-box {
    display: flex;
    justify-content: space-between; 
    padding: 20px; 
}
.info-column {
    display: flex;
    flex-direction: column; 
    flex: 2; 
    margin-right: 10px; 
    line-height: 1; 
    margin-top: -2em;
    margin-bottom: -1em;
}
.info-column:last-child {
    margin-right: 0; 
}
@media (max-width: 768px) {
    .info-content-wrapper {
        flex-direction: column; 
    }

    .side-image, .info-boxes2, .button-area2 {
        width: 100%; 
    }
}




/* CONTACTS */
.info-content-wrapper2 {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: flex-start;
    min-height: 90vh;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative; 
    overflow: hidden;
}
.side-image2 {
    order: 2;
    width: 35%; 
    height: auto; 
    object-fit: cover; 
    margin-left: auto;
}
.info-boxes3 {
    order: 1;
    width: 135%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative;
    z-index: 2; 
}
.info-box3 {
    width: 100%; 
    box-sizing: border-box;
    padding: 20px;
    background-color: #ede9f8; 
    border: 8px solid #3a2e73; 
    margin-bottom: 20px; 
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 15px;
    text-align: left; 
    transition: all 0.3s ease;
    border-radius: 50px; 
    color: #3a2e73;
}
.button-area3 {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px -40px;
    gap: 20px; 
}
.info-box-button3 {
    background-color: #917fc1; 
    color: #3a2e73; 
    border: 8px solid #ede9f8; 
    padding: 10px 25px; 
    margin: 0; 
    display: block; 
    text-align: center; 
    border-radius: 50px; 
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    width: auto; 
    text-align: center; 
    border-radius: 50px; 
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 25px;
    text-align: relative; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: inline-flex;
    transition: all 0.3s ease;
}
.info-box-button3:hover {
    background-color: #5a498f; 
    color: #ffffcc; 
}
.outer-box2 {
    display: flex;
    justify-content: space-between; 
    padding: 20px; 
}
.info-column2 {
    display: flex;
    flex-direction: column; 
    flex: 2; 
    margin-right: 10px; 
    line-height: 1; 
    margin-top: -2em;
    margin-bottom: -1em;
}
.info-column2:last-child {
    margin-right: 0; 
}
@media (max-width: 768px) {
    .info-content-wrapper2 {
        flex-direction: column;
        align-items: center; 
    }
    .info-boxes3 {
        width: 100%; 
    }
    .side-image2 {
        width: 100%; 
        margin-left: 0; 
    }
}


/* last user input */

input, textarea {
    width: 100%; /* Adjust as necessary */
    padding: 10px;
    margin-bottom: 10px; /* Space between fields */
    border: 1px solid #ccc; /* Placeholder border style */
    border-radius: 5px; /* Matching the design's rounded theme */
}

input::placeholder, textarea::placeholder {
    color: #aaa; /* Placeholder text color */
}


    .info-content-wrapper2 .info-box3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the start */
    }
    
    .outer-box2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .info-column2 {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center align the flex items */
        margin-right: 20px; /* Adjust spacing as needed */
    }
    
    .info-column2 label {
        margin-bottom: 10px; /* Space between label and input box */
        text-align: left; /* Align the text to the left */
        width: 100%; /* Make label take full width */
    }
    
    input[type="email"], input[type="text"], textarea {
        width: calc(100% - 20px); /* Adjust width to match label column, consider border and padding */
        padding: 10px;
        margin-bottom: 20px; /* Space between each input/textarea */
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    /* Adjustments for small screens */
    @media (max-width: 768px) {
        .outer-box2, .info-column2 {
            flex-direction: column;
            align-items: center;
        }
    
        input[type="email"], input[type="text"], textarea {
            width: 90%; /* Adjust for smaller screens */
        }
    }

/* Style adjustments for responsiveness */
@media (max-width: 768px) {
    input, textarea {
        width: 90%; /* Might need adjustment based on the container's padding and design */
    }
}
